# Code Editor / IDE files
# ----------------------------------------------------------------------- #

.idea
*.sublime-project
*.sublime-workspace


# Commonly ignored files
# ----------------------------------------------------------------------- #

*.backup
*.bak
*.bz2
*.cache
*.gz
*.log
*.rar


# Composer & Vendor Files
# ----------------------------------------------------------------------- #

composer.lock
composer.phar
/vendor


# Laravel Configurations and Application Assets
# ----------------------------------------------------------------------- #

.env
.phpunit.result.cache
/node_modules
/public/storage
/public/coverage
/public/gc
/public/hot
storage/framework/laravel-excel/
storage/*.key
npm-debug.log
yarn-error.log
package-lock.json
.gitignore
.php-cs-fixer.cache
composer-setup.php
phpunit.xml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

